body, html
  line-height: 1px
  font-weight: 200
  font-family: 'PingFans SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif

@media (min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      transform: scaleY(0.7)
      -webkit-transform: scale(0.7)

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2)
  .border-1px
    &::after
      transform: scaleY(0.5)
      -webkit-transform: scale(0.5)
